* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

#meeting-room-box {
    padding: 16px 22px 16px 28px;

    #meeting-room-guide {
        color: #3C4043;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .25px;
        line-height: 20px;
        margin-bottom: 14px;
    }

    #meeting-room-status-box {
        position: relative;
        width: 198px;
        height: 215.77px;

        .meeting-room {
            position: absolute;
            border: 1px solid #FFFFFF;
            background-color: #EFF1F2;
            
            display: flex;
            justify-content: center;
            align-items: center;

            .room-name {
                opacity: 0;
                font-weight: 700;
                font-size: 8px;
                line-height: 11px;
                color: #55585D;
            }
        }

        .active-room {
            background: #3F7CEA;

            .room-name {
                color: #FFFFFF;
            }
        }

        #small1room {
            width: 34.34px;
            height: 23.97px;
            left: 0px;
            top: 48.51px;
        }

        #small2room {
            width: 34.34px;
            height: 23.97px;
            left: 0px;
            top: 24.26px;
        }

        #small3room {
            width: 34.34px;
            height: 23.97px;
            left: 0px;
            top: 0px;   
        }

        #small4room {
            width: 29.47px;
            height: 36.1px;
            left: 168.53px;
            top: 179.9px;   
        }

        #middle1room {
            width: 29.47px;
            height: 48.22px;
            left: 35.62px;
            top: 0px;
        }

        #middle2room {
            width: 29.47px;
            height: 36.1px;
            left: 161.09px;
            top: 36.38px;
        }

        #middle3room {
            width: 29.47px;
            height: 36.1px;
            left: 161.09px;
            top: 0px;
        }

        #large-room {
            width: 29.47px;
            height: 72.48px;
            left: 131.33px;
            top: 0px;
        }

        #free-room {
            width: 29.47px;
            height: 23.5px;
            left: 35.62px;
            top: 49px;
            clip-path: path('M30.8258 25.5132H31.3121L31.3256 25.0271L31.589 15.5578C31.6856 12.0879 28.8951 9.22403 25.4207 9.22403H21.7975C18.9758 9.22403 16.6761 6.96585 16.6275 4.15036L16.5818 1.50455L16.5733 1.01318H16.0819H1.62146H1.12146V1.51318V13.4047V25.0132V25.5132H1.62146H30.8258Z');
        }

        .etc-room {
            position: absolute;
            background: #F6F6F6;
            border: 1px solid #FFFFFF;
        }

        #a1 {
            width: 14.59px;
            height: 17.9px;
            left: 27.18px;
            top: 87.5px;
        }

        #b1 {
            width: 22.03px;
            height: 11.84px;
            left: 19.74px;
            top: 105.69px;
        }

        #c1 {
            width: 22.03px;
            height: 11.84px;
            left: 19.74px;
            top: 117.82px;
        }

        #d1 {
            width: 22.03px;
            height: 6.06px;
            left: 19.74px;
            top: 129.95px;
        }

        #e1 {
            width: 22.03px;
            height: 11.84px;
            left: 19.74px;
            top: 136.3px;
        }

        #f1 {
            width: 22.03px;
            height: 11.84px;
            left: 19.74px;
            top: 148.43px;
        }

        #g1 {
            width: 22.03px;
            height: 54.58px;
            left: 42.06px;
            top: 87.5px;
        }

        #h1 {
            width: 22.03px;
            height: 17.9px;
            left: 42.06px;
            top: 142.36px;
        }

        #i1 {
            width: 22.03px;
            height: 17.9px;
            left: 64.38px;
            top: 87.5px;
        }

        #j1 {
            width: 22.03px;
            height: 17.9px;
            left: 64.38px;
            top: 105.69px;
        }

        #k1 {
            width: 22.03px;
            height: 18.19px;
            left: 64.38px;
            top: 123.88px;
        }

        #l1 {
            width: 29.47px;
            height: 17.9px;
            left: 64.38px;
            top: 142.36px;
        }

        #a2 {
            width: 22.03px;
            height: 17.9px;
            left: 131.33px;
            top: 87.5px;
        }

        #b2 {
            width: 22.03px;
            height: 17.9px;
            left: 131.33px;
            top: 105.69px;
        }

        #c2 {
            width: 22.03px;
            height: 18.19px;
            left: 131.33px;
            top: 123.88px;
        }

        #d2 {
            width: 22.03px;
            height: 17.9px;
            left: 131.33px;
            top: 142.36px;
        }

        #e2 {
            width: 22.03px;
            height: 23.97px;
            left: 153.65px;
            top: 87.5px;
        }

        #f2 {
            width: 22.03px;
            height: 48.51px;
            left: 153.65px;
            top: 111.75px;
        }

        #g2 {
            width: 14.59px;
            height: 17.9px;
            left: 175.97px;
            top: 87.5px;
        }

        #h2 {
            width: 22.03px;
            height: 11.84px;
            left: 175.97px;
            top: 105.69px;
        }

        #i2 {
            width: 22.03px;
            height: 11.84px;
            left: 175.97px;
            top: 117.82px;
        }

        #j2 {
            width: 22.03px;
            height: 6.06px;
            left: 175.97px;
            top: 129.95px;
        }

        #k2 {
            width: 22.03px;
            height: 11.84px;
            left: 175.97px;
            top: 136.3px;
        }

        #l2 {
            width: 22.03px;
            height: 11.84px;
            left: 175.97px;
            top: 148.43px;
        }

        #a3 {
            width: 34.34px;
            height: 23.97px;
            left: 0px;
            top: 179.9px;
        }

        #b3 {
            width: 34.34px;
            height: 11.84px;
            left: 0px;
            top: 204.16px;
        }

        #c3 {
            width: 44.35px;
            height: 36.1px;
            left: 34.62px;
            top: 179.9px;
        }

        #d3 {
            width: 51.79px;
            height: 36.1px;
            left: 79.26px;
            top: 179.9px;
        }

        #e3 {
            width: 36.91px;
            height: 36.1px;
            left: 131.33px;
            top: 179.9px;
        }

    }
}